
body{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}
a{
    text-decoration: none;
    
}
table {
  
    width: 80%;
}

/* Custom */
.container-fluid {
    margin-top: 30px;
    width: 80%;
}
.employee-search-field, mat-label{
    color: black;
}



